%link{:rel => "stylesheet", :href => "/stylesheets/casey.css"}
%link{:rel => "stylesheet", :href => "/stylesheets/main.css"}
-# %link{:rel => "stylesheet", :href => "/stylesheets/normalize.css"}

%html
  %head
    %title teod.io
  %body
    %header
      %nav
        .logo
          %a{:href => "/"} teod.io
        .links
          - @posts.each do |post|
            %a{:href => "/#{post}"}= post
          %a{:href => "/world"} world
          %a{:href => "/essays"} essays
          %a{:href => "/about"} about
  = yield :content
  %footer
    .socially
      %a{:href => "https://twitter.com/tim.odonnell13"}
        %img 
      %a{:href => "https://instagram.com/tim.mowthee"}
        %img
    %p.blurb ©2017 teod.io
