header {
  padding: 1em;
  margin-top: 20px;
}

nav {
  display: inline-block;
  width: 100%;
}

.logo {
  font-weight: bold;
  font-size: 24;
  display: inline;
}
.logo a {
  color: #000;
}

.logo a:hover {
  color: #3ab795;
}

.links {
  float: right;
  word-spacing: 1em;
  padding: .5em;
}

.post {
  text-align: left;
  padding: 1em;
}

footer {
  margin-top: 2em;
}

.social {
  display: inline;
  width: auto;
}
