header {
  padding: 1em;
  margin-top: 20px;
}

nav {
  display: inline-block;
  width: 100%;
  padding: 1em;
}

.logo {
  font-weight: bold;
  font-size: 32;
  display: inline;
}
.logo a {
  color: #000;
}

.logo a:hover {
  color: #3ab795;
}

.links {
  font-size: 13;
  float: right;
  word-spacing: 1.25em;
  padding: .5em;
}

main {
  padding-top: 1em;
}

.post {
  text-align: left;
  padding: 1em;
}

.post h1 {
  text-align: center;
  margin: 10px 0;
}

.post p, li {
  line-height: 1.2em;
}

 footer {

 }

.socially {
  display: inline-block;
  width: 100%;
  padding: 1em;
  word-spacing: 10em;
}

.socially a {
  margin: 1em;
  font-weight: bold;
}

footer p.blurb {
  font-size: 11px;
  padding: 0 2em;
  margin-bottom: 0;
}
